html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page_wrapper {
  max-width: 1800px;
  background-image: url("../assets/img/background.png");
  margin: 0 auto;
}

.main_container {
  margin: 15px 15px;
}

.footer_section {
  background-image: url("../assets/img/footer_bckg_img.jpg");
  min-height: 271px;
}

.header_section {
  background-image: url("../assets/img/header_bckg_img.jpg");
  min-height: 820px;
  position: relative;
}

.header_text {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 37%;
  left: 48.5%;
  transform: translate(-50%, -50%);
}
.header_text .header_heading {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4.8px;
}
.header_text .header_subtext {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 6.82px;
}

.header_header {
  background-color: #5474FD;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_navigation_unordered_list {
  display: flex;
  justify-content: space-between;
}

.header_logo {
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 2.4px;
  font-size: 24px;
}

.header_navigation_unordered_list li:not(:last-child) {
  margin-right: 40px;
}

.header_navigation_list_item {
  text-transform: uppercase;
  font-family: "Aleo", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.how_it_works_section {
  background-image: url("../assets/img/how_it_works_bckg_img.jpg");
  min-height: 340px;
}

.group1_spain_section {
  background-image: url("../assets/img/spain_group1_bckg_img.jpg");
  min-height: 700px;
}

.group2_spain_section {
  background-image: url("../assets/img/spain_group2_bckg_img.jpg");
  min-height: 700px;
}

.testimonial_section {
  background-image: url("../assets/img/testimonial_bckg_img.jpg");
  min-height: 731px;
}

.why_choose_us_section {
  background-image: url("../assets/img/why_choose_us_bckg_img.jpg");
  min-height: 685px;
}

.container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}