@import "../base/vars";

.footer_section {

  .form_container {
    background-color: #11364E;
    padding-top: 140px;
    padding-bottom: 140px;

    .form_sections {
      display: flex;
      flex-direction: column;
      align-items: center;

      .form_heading {
        color: #FFFFFF;
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 30px;
        line-height: 1.5;
        letter-spacing: -0.5px;
      }

      .form_name_container, .form_email_container, .textarea_container {
        width: 371px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .textarea_container {
        height: 100%;
        max-height: 120px;
      }

      .form_name_container_text, .form_email_container_text, .form_textarea_container_text {
        color: #FFFFFF;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 10px;
      }

      .form_name_container_input, .form_email_container_input, .form_message_container_textarea {
        border-bottom: 1px solid rgb(255, 255, 255, 0.25);

        &::placeholder {
          opacity: 0.6;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5;
          margin-bottom: 5px;
        }
      }

      .form_button {
        background-color: #FF7F57;
        padding: 19px 100px;
        color: #fff;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.5;
        border-radius: 3px;
      }
    }
  }

  .copyright_container {
    background-color: #13253A;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
  }
}