html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page_wrapper {
  max-width: 1800px;
  background-image: url("../assets/img/background.png");
  margin: 0 auto;
}

.main_container {
  margin: 15px 15px;
}