.group1_spain_section {
  background-image: url("../assets/img/spain_group1_bckg_img.jpg");
  min-height: 700px;
}

.group2_spain_section {
  background-image: url("../assets/img/spain_group2_bckg_img.jpg");
  min-height: 700px;
}